@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: block;
  text-transform: uppercase;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
.typewriter {
  font-family: monospace; /* Web-safe typewriter-like font */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  animation: typing 8.5s steps(20, end), blinking-cursor 0.9s step-end infinite;
}
.type {
  animation: blinking-cursor 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
a {
  text-decoration: none;
  color: #555555;
}
p {
  color: #555555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col-2 {
  flex-basis: 50%;

  min-width: 300px;
}
.col-2 img {
  max-width: 110%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.header {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(#fff, #ffd6ff);
}
.btnn {
  display: inline-block;
  background: lightskyblue;
  color: aliceblue;
  padding: 14px 39px;
  margin: 30px 2px;
  border-radius: 40px;
  transition: 0.6s;
}
.btnn:hover {
  background: #563434;
}
.header .row {
  margin-top: 70px;
}
.catagories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 30px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.col-3:hover {
  transform: scale(1.1);

  opacity: 0.9;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}
.col-4 img {
  width: 100%;
}
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
  cursor: pointer;
  margin-top: 9rem;
}
.footer p {
  color: #8a8a8a;
}
footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
  background-color: #ffd6ff;
  width: 40px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
.column {
  width: 20%;
  float: left;
  padding: 0px 8px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  background-color: white;
  text-align: center;
  border-radius: 40px;
  padding-bottom: 15px;
}
button {
  border: none;
  padding: 8px;
  display: inline-block;
  color: white;
  background-color: black;
  cursor: pointer;
  width: 70%;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
}
.row ::after {
  content: "";
  display: table;
  clear: both;
}
/* .row {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10rem;
} */
/* ---------MEDIA_QUERY-------- */
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    /* transition: max-height 0.9s; */
    display: none;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    background-color: white;
    text-align: center;
    border-radius: 40px;
    padding-bottom: 15px;
  }
  .title {
    color: gray;
    font-size: 18px;
  }
  button {
    border: none;
    padding: 8px;
    display: inline-block;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 70%;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
  }
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  a:hover,
  button:hover {
    opacity: 0.6;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .footer .row {
    margin-left: 50px;
  }
  .footer-col-3,
  .footer-col-4 {
    margin-right: 50px;
  }
  .footer-col-2 img {
    margin-right: 35px;
  }
}
